:host {
  display: flex;
  flex-direction: column;
}

.card-table {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 1;
}

.buttons {
  display: flex;
  justify-content: center;
}
