/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.card-border  {
  height: 89px;
  width: 64px;
  border: 2px cornflowerblue solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 200ms ease-in-out;
}

.card-value {
  font-size: x-large;
  user-select: none;
}

.card-disabled {
  background: lightgrey;
  border-color: grey;
  color: grey;
}
