/* You can add global styles to this file, and also import other style files */

$primary: #198754;
$enable-shadows: true;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
  --card-color: #{$green-500};
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $gray-800;
    color: white;
  }
  .offcanvas {
    background-color: $gray-900;
  }
}

.bg-primary {
  background-color: $green-400 !important;
  color: white !important;
  .text-muted {
    color: $gray-400 !important;
  }
}

.btn-sm {
  display: inline-flex;
  align-items: center;
  height: 1.8rem;
}

.card-border  {
  aspect-ratio: 64 / 89;
  height: 100px;
  outline: 3px var(--card-color) solid;
  outline-offset: -3px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $body-bg;
  transition: transform 200ms ease-in-out, background-color 100ms ease-in, outline-color 100ms ease-in;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &:not(.card-disabled, .dashed) {
    box-shadow: 0 0 15px 0 $gray-400;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $gray-800;
    color: white;
    &:not(.card-disabled, .dashed) {
      box-shadow: 0 0 15px 0 $gray-800;
    }
  }
}

.card-value {
  font-size: xx-large;
  user-select: none;
}

.card-disabled {
  background: $gray-200;
  outline-color: $gray-600;
  color: $gray-700;
  @media (prefers-color-scheme: dark) {
    background: $gray-800;
    color: $gray-600;
  }
}

.svh-100 {
  height: 100vh;
  height: 100svh;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
