@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.card-border {
  height: 75px;
  &.muted {
    outline-color: $gray-600;
    outline-width: 2px;
    outline-offset: -2px;
  }
}

.card-value {
  font-size: x-large;
}
