<ng-template #editTemplate>
  <form class="input-group" *transloco="let t">
    <input type="text" class="form-control form-control-sm"
           [formControl]="formControl"
           [attr.aria-label]="t('navbar.playerInfo.form.playerName')">
    <button class="btn btn-primary" type="submit"
            [attr.aria-label]="t('buttons.save')"
            [disabled]="formControl.invalid"
            (click)="validateNameChange()">
      <svg class="bi bi-check" width="1em" height="1em" fill="currentColor" aria-hidden="true">
        <use xlink:href="assets/bootstrap-icons.svg#check"/>
      </svg>
    </button>
  </form>
</ng-template>

<div class="d-flex flex-column align-items-end">
  <ng-container *ngIf="!editMode; else editTemplate">
    <span class="navbar-text">
      {{ userInformation.getName() }}
      <div class="btn-group mx-2" *transloco="let t">
        <button class="btn btn-light btn-sm"
                [attr.aria-label]="t('buttons.edit')"
                [ngbTooltip]="t('navbar.playerInfo.actions.editPlayerName')"
                placement="bottom"
                (click)="editMode = true">
          <svg class="bi bi-pencil-fill" width="1em" height="1em" fill="currentColor" aria-hidden="true">
            <use xlink:href="assets/bootstrap-icons.svg#pencil-fill"/>
          </svg>
        </button>
      </div>
    </span>
  </ng-container>

  <div class="form-check form-switch form-check-reverse" *transloco="let t">
    <input class="form-check-input" type="checkbox" id="spectator-checkbox"
           [checked]="userInformation.isSpectator()"
           (change)="toggleSpectator()">
    <label class="form-check-label text-muted" for="spectator-checkbox">
      {{ t('navbar.playerInfo.spectator') }}
    </label>
  </div>
</div>
