<span class="navbar-text">
  {{ userInformation.getName() }}
  <div class="btn-group mx-2">
    <button class="btn btn-light btn-sm" aria-label="Edit">
      <svg class="bi bi-pencil-fill" width="1em" height="1em" fill="currentColor" aria-hidden="true">
        <use xlink:href="assets/bootstrap-icons.svg#pencil-fill"/>
      </svg>
    </button>
    <button class="btn btn-light btn-sm" aria-label="Toggle spectator" (click)="toggleSpectator()">
      <svg *ngIf="userInformation.isSpectator()" class="bi bi-eye-fill" width="1em" height="1em" fill="currentColor" aria-label="spectator">
        <use xlink:href="assets/bootstrap-icons.svg#eye-fill"/>
      </svg>
      <svg *ngIf="!userInformation.isSpectator()" class="bi bi-eye" width="1em" height="1em" fill="currentColor" aria-label="player">
        <use xlink:href="assets/bootstrap-icons.svg#eye"/>
      </svg>
    </button>
  </div>
</span>
<!-- <input [formControl]="formControl"> <button [disabled]="formControl.invalid" (click)="changeName()">Validate</button>
<p>Spectator: {{ userInformation.isSpectator() }} <button (click)="toggleSpectator()">Toggle</button></p> -->
