<div class="container">
  <div class="row" *transloco="let t; read 'turnSummary'">
    <div class="col"></div>
    <div class="col-8 col-md-4 col-lg-4 col-xl-4">
      <div class="d-flex justify-content-center text-center">
        <div *ngFor="let item of counts | keyvalue" class="d-flex flex-column align-items-center">
          <div class="card-border">
            <div class="card-value">
              {{ item.key }}
            </div>
          </div>
          <p class="text-muted mt-1">{{ t('votes-label', { votes: item.value }) }}</p>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-2 col-lg-2 col-xl-2 text-center">
      <p class="text-muted mb-1">{{ t('average-label') }}</p>
      <p class="fs-4 fw-bold">{{ average }}</p>
    </div>
    <div class="col"></div>
  </div>
</div>
