<ng-container *transloco="let t; read 'footer'">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/axeleroy/self-host-planning-poker">{{ t('github') }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://hub.docker.com/r/axeleroy/self-host-planning-poker">{{ t('dockerhub') }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/axeleroy/self-host-planning-poker/blob/main/LICENSE">{{ t('license') }}</a>
    </li>
  </ul>
</ng-container>
