@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.bg-light {
  border-top: 1px solid $gray-100;
  box-shadow: 0 0 10px 0 $gray-300;

  @media (prefers-color-scheme: dark) {
    background-color: $gray-900 !important;
    border-top-color: $gray-800;
    box-shadow: 0 0 10px 0 $gray-800;
  }
}

shpp-turn-summary, shpp-card-picker {
  min-height: 250px;
}
