<ng-container *transloco="let t; read 'navbar'">
  <ng-container *ngIf="currentGameInfo">
    <span class="fs-4 ellipsis">{{ currentGameInfo.name }}&nbsp;</span>
    <div class="btn-group" role="group">
      <button class="btn btn-outline-light btn-sm"
              *transloco="let t"
              [attr.aria-label]="t('buttons.link')"
              [ngbTooltip]="t('buttons.link')"
              placement="bottom"
              (click)="copyLink()"
      >
        <svg class="bi bi-link-45deg" width="1.2em" height="1.2em" fill="currentColor" aria-hidden="true">
          <use xlink:href="assets/bootstrap-icons.svg#link-45deg"/>
        </svg>
      </button>
      <button class="btn btn-outline-light btn-sm"
              *transloco="let t"
              [attr.aria-label]="t('buttons.qrcode')"
              [ngbTooltip]="t('buttons.qrcode')"
              placement="bottom"
              (click)="displayQrCode()"
      >
        <svg class="bi bi-qr-code-scan" width="1.2em" height="1.2em" fill="currentColor" aria-hidden="true">
          <use xlink:href="assets/bootstrap-icons.svg#qr-code-scan"/>
        </svg>
      </button>
    </div>
  </ng-container>
</ng-container>

