<ng-container *ngIf="playerHand">
  <div class="player-container m-3">
    <div class="card-border"
         [class.card-disabled]="playerHand.spectator"
         [class.picked]="playerHand.hasPicked && !playerHand.hand"
         [class.dashed]="playerHand.spectator || !playerHand.hand">
      <div class="card-value" *ngIf="playerHand.hand && deck">
        {{ displayCardValue(deck, playerHand.hand) }}
      </div>
      <div class="card-value" *ngIf="playerHand.spectator">
        <svg [attr.aria-labbel]="'playerState.spectator'"
             class="bi bi-eye-fill" width="1em" height="1em" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#eye-fill"/>
        </svg>
      </div>
    </div>
    <div class="player-name">
      {{ playerHand.name }}
    </div>
  </div>
</ng-container>
