.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picked {
  background-color: cornflowerblue;
  outline-offset: -4px;
  outline-color: white;
}

.dashed {
  outline-style: dashed;
}
