<ng-container *ngIf="playerState">
  <div class="player-container m-3">
    <div class="card-border"
         [class.card-disabled]="playerState.spectator"
         [class.picked]="playerState.hasPicked"
         [class.dashed]="playerState.spectator || (!playerState.hand && !playerState.hasPicked)">
      <div class="card-value" *ngIf="playerState.hand && deck">
        {{ displayCardValue(deck, playerState.hand) }}
      </div>
      <div class="card-value" *ngIf="playerState.spectator">
        <svg [attr.aria-labbel]="'playerState.spectator'"
             class="bi bi-eye-fill" width="1em" height="1em" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#eye-fill"/>
        </svg>
      </div>
    </div>
    <div class="player-name">
      {{ playerState.name }}
    </div>
  </div>
</ng-container>
