<ng-container *transloco="let t; read 'gameForm'">
  <form [formGroup]="formGroup">
    <div class="mb-3">
      <label [for]="nameInput" class="form-label">{{ t('name-label') }}</label>
      <input type="text" class="form-control" formControlName="name" #nameInput>
    </div>
    <div class="mb-3">
      <label [for]="deckSelect" class="form-label">{{ t('deck-label') }}</label>
      <select class="form-select" formControlName="deck" #deckSelect>
        <ng-container *transloco="let n; read 'deckNames'">
          <option *ngFor="let deck of decks" [ngValue]="deck">{{ n(deck.name) }} ({{ displayDeckValues(deck) }})</option>
        </ng-container>
      </select>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="formGroup?.invalid" (click)="validate()">
      {{ isNewGame() ? t('createButton-label') : t('updateButton-label') }}
    </button>
  </form>
</ng-container>
