<shpp-container>
  <ng-container navbar>
    <span class="fs-4" *transloco="let t; read 'navbar'">{{ t('appTitle') }}</span>
  </ng-container>

  <div content class="container h-100">
    <div class="row h-100">
      <div class="col"></div>
      <div class="col col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex flex-column">
        <shpp-game-form class="flex-grow-1" (gameOutput)="onNewGame($event)"></shpp-game-form>
        <div class="footer" *transloco="let t; read 'footer'">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://github.com/axeleroy/self-host-planning-poker">{{ t('github') }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://hub.docker.com/r/axeleroy/self-host-planning-poker">{{ t('dockerhub') }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://github.com/axeleroy/self-host-planning-poker/blob/main/LICENSE">{{ t('license') }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</shpp-container>
