@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$color-mode-type: media-query;

nav {
  border-bottom: 1px solid $gray-400;
  box-shadow: 0 0 10px 0 $gray-400;
  @include color-mode(dark) {
    border-bottom-color: var(--primary-background-color-dark);
    box-shadow: 0 0 10px 0 $gray-800;
  }
}

.min-w {
  min-width: 0;
}

.icon {
  height: 38px;
  @include media-breakpoint-up(sm) {
    height: 48px;
  }
}
